{
  "listen": ":8443",
  "db_type": "mysql",
  "db_path": "root:open_itam@2026@tcp(itagent-db:3306)/open_itam?charset=utf8mb4&parseTime=True&loc=Local",
  "install_token": "CHANGE_ME_install_token",
  "admin_token": "CHANGE_ME_admin_token",
  "default_heartbeat_sec": 600,
  "default_full_sec": 3600
}
